<div class="jumbotron" style="height: 100%">
    <h2 class="text-center">{{issue.Title}}</h2>

    <p class="text-center">{{issue.Description}}</p>

    <p><strong>Project :</strong> {{issue.Project.Name}}</p>
    <p><strong>Due Date:</strong> {{issue.DueDate | date:'dd-MMM-yyyy'}} <span class="label label-danger">{{issue.Priority.Name}}</span>
    </p>
    <p><strong>Assigned to:</strong> {{issue.Assignee.Username}}</p>
    <p><strong>Created by:</strong> {{issue.Author.Username}}</p>
    <ul class="list-inline" ng-if="issue.Labels.length !== 0">
        <li>Labels:</li>
        <li ng-repeat="label in issue.Labels">
            <span class="label label-success">{{label.Name}}</span>
        </li>
    </ul>

    <p><strong>Current Status:</strong> <span class="label label-default">{{issue.Status.Name}}</span></p>

    <div ng-if="isAssignee">
        <div class="form-group">
            <p>Change status:</p>
            <select name="" id="status" class="form-control">
                <option value="{{status.Name}}" ng-repeat="status in issue.AvailableStatuses">{{status.Name}}</option>
            </select>
            <button class="btn btn-sm btn-success" ng-click="changeStatus">Change Status</button>
        </div>
    </div>
    <div ng-if="isAuthor">
        <a href="#/issues/{{issue.Id}}/edit" class="btn btn-sm btn-success">Edit Issue</a>
    </div>
    <ul class="list-group" ng-if="Comments.length !== 0">
        <li class="list-group-item"><strong>Comments:</strong></li>
        <li ng-repeat="comment in Comments" class="list-group-item">
            <p>{{comment.Text}} by {{comment.Author.Username}}</p>
            <p>{{comment.CreatedOn | date: 'dd-MMM-yyyy'}}</p>
        </li>
    </ul>
</div>

