<form name="changePassForm" ng-submit="changePassword(userData)">
    <h2>Change Password</h2>

    <div class="form-group">
        <label class="control-label" for="OldPassword">Current Password</label>

        <div class="controls">
            <input class="form-control" type="password" id="OldPassword" name="OldPassword"
                   ng-model="userInput.OldPassword" required="required" ng-minlength="6" ng-maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="NewPassword">New Password</label>

        <div class="controls">
            <input class="form-control" type="password" id="NewPassword" name="NewPassword"
                   ng-model="userInput.NewPassword" required="required" ng-minlength="6" ng-maxlength="100">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="ConfirmPassword">New Password</label>

        <div class="controls">
            <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword"
                   ng-model="userInput.ConfirmPassword" required="required" ng-minlength="6" ng-maxlength="100">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-large" ng-click="changePassword(userInput)"
            ng-disabled="changePassForm.$invalid">Change Password
    </button>
</form>