<div>
    <div class="row" ng-if="!identity.getLoggedIn()">
        <div class="col-sm-5 col-sm-offset-1">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Login</h3>

                        <p>Enter username and password to log on:</p>
                    </div>
                </div>
                <div class="form-bottom">
                    <form name="loginForm" method="post" class="login-form" ng-controller="UserController">
                        <div class="form-group">
                            <input type="text" name="form-username" placeholder="Username..."
                                   class="form-username form-control" id="form-username" ng-model="loginUser.username"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="form-password" placeholder="Password..."
                                   class="form-password form-control" id="form-password" ng-model="loginUser.password"
                                   required="required">
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="login(loginUser)"
                                ng-disabled="loginForm.$invalid">Sign in!
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>or Sign up</h3>

                        <p>Fill in credentials to register:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form name="registerForm" method="post" class="registration-form" ng-controller="UserController">
                        <div class="form-group">
                            <input type="text" placeholder="Email..." class="form-control"
                                   id="form-email" ng-model="registerUser.email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="form-first-name" placeholder="Password"
                                   class=" form-control" ng-model="registerUser.password" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="form-last-name" placeholder="Confirm Password"
                                   class="form-control" ng-model="registerUser.confirmPassword" required="required">
                        </div>

                        <button type="submit" class="btn btn-warning" ng-click="register(registerUser)"
                                ng-disabled="registerForm.$invalid">Register!
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row" ng-if="identity.getLoggedIn()">
        <div class="jumbotron" style="height: 100%">
            <h1>Dashboard</h1>

            <h3>My Issues</h3>

            <div ng-controller="IssuesController">
                <div ng-if="issues.length == 0">
                    You have no issues
                </div>
                <div ng-if="issues.length !== 0">

                    <table class="table table-striped" ng-if="issues.length !== 0">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th>Issue</th>
                            <th>Description</th>

                            <th>Due Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="issue in issues" class="clickable-row">
                            <td>{{issue.Project.Name}}</td>
                            <td>{{issue.Title}}</td>
                            <td>{{issue.Description | limitTo: 15}}<span
                                    ng-if="issue.Description.length > 16">&hellip;</span>
                            </td>
                            <td>{{issue.DueDate | date:'dd-MMM-yyyy'}}</td>
                            <td><a href="#/issues/{{issue.Id}}">View Issue</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-controller="ProjectsController">
                <h3>My Projects</h3>

                <div ng-if="projects.length == 0">
                    You have no projects.
                </div>
                <div ng-if="projects.length !== 0">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects">
                            <td>{{project.Name}}</td>
                            <td>{{project.Description | limitTo: 20}}<span
                                    ng-if="project.Description.length > 20">&hellip;</span></td>
                            <td><a href="#/projects/{{project.Id}}">View Project</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" ng-if="identity.getAdmin()">
                <a href="#/projects/add" class="btn btn-lg btn-success">Add New Project</a>
            </div>
        </div>
    </div>
</div>



