<div class="jumbotron" style="height: 100%">
    <h2>{{project.Name}}</h2>

    <p>{{project.Description}}</p>


    <div>
        <h3>Issues</h3>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in projectIssues">
                <td>{{issue.Title}}</td>
                <td>{{issue.Description | limitTo: 40}}</td>
                <td>{{issue.DueDate | date:'dd-MMM-yyyy'}}</td>
                <td><a href="#/issues/{{issue.Id}}">View Issue</a></td>
            </tr>
            </tbody>
        </table>

    </div>


</div>

